<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1><%= header %></h1>
      <p> welcome to <%= title %></p>
      <div class="delete-item">
        <form class="form" action="/delete" method="get">
          <button type="submit" name="button">Delete</button>
        </form>
      </div>
    </div>
  </body>
</html>
